.intro-banner-callout h1 {
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-shadow: 2px 3px 8.46px rgba(0,0,0,.73);
}

.intro-banner-callout h2 {
    font-size: 30px;
    color: white;
    text-shadow: 2px 3px 8.46px rgba(0,0,0,.73);
}

.disclaimer-text {
    padding: 10px 0;
    background-color: #581908;
    color: white;
}

.legal-text {
    padding: 25px 0;
}

h1.section-title {
    color: #1a7f2c;
    font-weight: 900;
    font-size: 32px;
}

.package-text p {
    font-size: 23px;
}

.package-text a {
    color: black;
    font-weight: bold;
}
